* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 100vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.bxn {
    height: 100%;
    margin: 10px;
    padding: 10px;
}

nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}